* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.block {
      height: 60px;
    border: solid 1px blue;
 }
.container {
    width: 248px;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    margin: 100px auto 0;
}
